{% block body %}
 
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <!--Table and divs that hold the pie charts-->
    <table class="table">
      <tr>
        <td><div id="linechart_div" style="border: 1px solid #ccc"></div></td>
        <td><div id="barchart_div" style="border: 1px solid #ccc"></div></td>
      </tr>
      <tr>
        <td><div id="bubblechart_div" style="border: 1px solid #ccc"></div></td>
        <td><div id="scatterchart_div" style="border: 1px solid #ccc"></div></td>
      </tr>
    </table>
<script type="text/javascript">
var rates = JSON.parse({{ rates|tojson|safe }});
var dat = JSON.parse({{ data|tojson|safe }});
var display = JSON.parse({{ display|tojson|safe }});
// Load Charts and the corechart and barchart packages.
google.charts.load('current', {'packages':['corechart']});
      // Draw the pie chart and bar chart when Charts is loaded.
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
    var data = google.visualization.arrayToDataTable([
        ['Currency', 'Rate', { role: 'style' }],
        ['USD', rates["rates"]["USD"], 'gold'],
        ['GBP', rates["rates"]["GBP"], 'silver'],
        ['HKD', rates["rates"]["HKD"], 'brown'],
        ['AUD', rates["rates"]["AUD"], 'blue']
      ]);

    var data2 = new google.visualization.DataTable();
    data2.addColumn('string', 'ID');
    data2.addColumn('number', 'X');
    data2.addColumn('number', 'Y');
    data2.addColumn('number', 'Temperature');
    for(i = 0; i < dat.length; i++)
    data2.addRow([dat[i]['ID'], dat[i]['X'], dat[i]['Y'], dat[i]['Temperature']]);
    

    var view1 = new google.visualization.DataView(data2);
    view1.setColumns([1, 2]);
    var view2 = new google.visualization.DataView(data2);
    view2.setColumns([2, 1,3]);

    var barchart_options = {width: 400, height:300, title: 'Barchart', legend: 'none'}
    var barchart = new google.visualization.ColumnChart(document.getElementById('barchart_div'));
    barchart.draw(data, barchart_options);
    document.getElementById('barchart_div').style.display = display["barchart"];


    var bubble_options = {title:'Bubblechart: ', width:400, height:300, legend: 'none',colorAxis: {colors: ['yellow', 'red']}};
    var bubblechart = new google.visualization.BubbleChart(document.getElementById('bubblechart_div'));
    bubblechart.draw(data2, bubble_options);
    document.getElementById('bubblechart_div').style.display = display["bubblechart"];

    var scatterchart_options = {width: 400, height:300, title: 'Scatterchart', legend: 'none'}
    var scatterchart = new google.visualization.ScatterChart(document.getElementById('scatterchart_div'));
    scatterchart.draw(view1, scatterchart_options);
    document.getElementById('scatterchart_div').style.display = display["scatterchart"];

    var multilinechart_options = {width: 400, height:300, title: 'MultiLinechart', legend: 'none', crosshair: {
          color: '#000',
          trigger: 'selection'
        }}
    var multilinechart = new google.visualization.LineChart(document.getElementById('linechart_div'));
    multilinechart.draw(view2, multilinechart_options);
    multilinechart.setSelection([{row: 5, column: 1}]);
    document.getElementById('linechart_div').style.display = display["multilinechart"];
}
</script>

{% endblock %}